.cover-section-container {
  div.content {
    width: 90%;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 20rem auto;
    grid-gap: 2rem;
    font-size: 1.5rem;

    @media (max-width: $medium) {
      // background-color: blue;
      // font-size: 1.25rem;
    }

    @media (max-width: $medium-small) {
      grid-template-columns: none;
      width: 80%;
      font-size: 1.5rem;
      // background-color: green;
    }

    @media (max-width: $small) {
      grid-template-columns: none;
      width: 80%;
      font-size: 1.25rem;
      // background-color: purple;
    }

    div.cover-image {
      // text-align: right;
      img {
        width: 100%;
      }
    } 

    div.cover-text {
      text-align: left;
    }
  }
  // height: 100vh;
  // align-items: center;
  // display: flex;

  // #cover-title {
  //   padding: 0 10%;
  //   position: absolute;

  //   .heading {
  //     display: block;
  //     font-size: 7rem;

  //     @media (max-width: $large) {
  //       font-size: 6rem;
  //     }
  //     @media (max-width: $medium-large) {
  //       font-size: 4rem;
  //     }
  //     @media (max-width: $medium-small) {
  //         font-size: 4rem;
  //     }
  //     @media (max-width: $small) {
  //         font-size: 3rem;
  //     }
  //   }
  //   .subheading {
  //     display: block;
  //     font-size: 3rem;

  //     @media (max-width: $large) {
  //       font-size: 3rem;
  //     }
  //     @media (max-width: $medium-large) {
  //       font-size: 2.5rem;
  //     }
  //     @media (max-width: $medium) {
  //         font-size: 2rem;
  //     }
  //     @media (max-width: $medium-small) {
  //         font-size: 1rem;
  //     }
  //     @media (max-width: $small) {
  //         font-size: 1rem;
  //     }
  //   }

  //   button {
  //     border: 5px solid $black;
  //     margin-top: 4rem;
  //     font-size: 1.5rem;
	
  //     @media (max-width: $medium-large) {
  //       border: 3px solid $black;
  //       font-size: 1.5rem;
  //     }
  //     @media (max-width: $medium) {
  //       border: 2px solid $black;
  //       margin-top: 3rem;
  //       font-size: 1rem;
  //     }
  //     @media (max-width: $small) {
  //       border: 2px solid $black;
  //       margin-top: 3rem;
  //       font-size: 1rem;
  //     }

  //     .animated-chevron {
  //       display: inline-block;
  //       margin-left: 0.5rem;
  //       font-size: 2rem;
  //       transform: translateX(0);
  //       animation: oscillate 1s ease-in-out infinite;

  //       @media (max-width: $medium-large) {
  //         font-size: 1.5rem;
  //       }
  //       @media (max-width: $medium) {
  //           font-size: 1rem;
  //       }
  //     }
  //   }
  // }

  // #cover-portrait {
  //   height: 100%;
  //   text-align: right;
  //   padding-top: 3rem;
  //   overflow-y: hidden;
  //   grid-area: portrait;
    
  //   img {
  //     width: 70%;
  //   }
  // }
}

@keyframes oscillate {
  0% {
    transform: translateX(-20%);
  }
  50% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(-20%);
  }
}