.cover-section-container {
  div.content {
    width: 90%;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 20rem auto;
    grid-gap: 2rem;
    font-size: 1.5rem;

    @media (max-width: $medium) {
      // background-color: blue;
      // font-size: 1.25rem;
    }

    @media (max-width: $medium-small) {
      grid-template-columns: none;
      width: 80%;
      font-size: 1.5rem;
      // background-color: green;
    }

    @media (max-width: $small) {
      grid-template-columns: none;
      width: 80%;
      font-size: 1.25rem;
      // background-color: purple;
    }

    div.cover-image {
      // text-align: right;
      img {
        width: 100%;
      }
    } 

    div.cover-text {
      text-align: left;
    }
  }
}

@keyframes oscillate {
  0% {
    transform: translateX(-20%);
  }
  50% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(-20%);
  }
}