.project-section-container {
  div.content {
    .projects-container {
      text-align: center;

      ul.projects-container-heading {
        text-align: center;
        list-style: none;
        font-size: 1.5rem;

        li {
          opacity: 0.5;
          display: inline-block;
          margin: 0rem 1rem;
          transition: 0.25s ease-in-out;
          cursor: pointer;

          &:hover, &.active {
            opacity: 1.0;
          }
        }
      }

      .project-cards-container {
        width: 64rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 20rem 20rem 20rem;
        grid-template-rows: 30rem 30rem 30rem;
        grid-gap: 2rem;
        justify-items: center;

        .project-card {
          background-color: $light-grey;
          color: $white;
          width: 100%;
          height: 100%;
          overflow: hidden;
          cursor: pointer;
          transition: 0.25s ease-in-out;

          .project-info {
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            padding: 10%;
            transform: translateY(-100%);
            transition: 0.25s ease-in-out;

            h2 {
              font-size: 2rem;
            }

            span {
              font-size: 1.5rem;
            }
          }

          &:hover {
            // transform: scale(1.05);

            .project-info {
              transform: translateY(0);
            }
          }

          &#donkey {
            background-image: url("../assets/images/projects-donkey-card.jpg");
            background-size: cover;
          }
        }
      }
    }
  }
}