div#ball-project-content-container {
    div.project-overview {
        iframe {
            width: 50%;
            display: block;
            margin-bottom: 1rem;
        }
        img {
            width: 50%;
        }
    }

    div.project-ideation {
        img {
            width: 100%;
        }
        
        div.image-container {
            img {
                width: 100%;
            }
        }
    }

    div.project-design {
        img {
            width: 70%;
        }

        img:nth-of-type(1) {
            width: 50%;
        }

        img:nth-of-type(2) {
            width: 100%;
        }
    }

    div.project-fabrication {
        img {
            width: 70%;
        }

        div.image-next-to-container:nth-of-type(1) {
            grid-template-columns: auto auto auto;
        
            @media (max-width: $medium-small) {
              grid-template-columns: 1fr;
            }

            img {
                height: 20vw;
            }
        }
        
        div.image-container {
            img {
                width: 100%;
            }
        }

        img#schematic {
            width: 100%;
        }
    }

    div.project-programming {
        img {
            width: 70%;
        }
        
        div.image-container {
            display: grid;
            img {
                width: 100%;
            }
        }
        
        iframe {
            width: 70%;
        }
    }

    div.project-results {
        iframe {
            width: 70%;
        }
    }
}