div#bus-project-content-container {
    div.project-overview {
        img {
            width: 50%;
        }
    }

    div.project-ideation {
        img:nth-of-type(1) {
            width: 60%;
        }
        
        div.image-container {
            img {
                width: 100%;
            }
        }
    }

    div.project-design {
        div.image-next-to-container:nth-of-type(1) {
            grid-template-columns: 2fr 3fr;
        }

        div.image-next-to-container:nth-of-type(2), div.image-next-to-container:nth-of-type(3) {
            grid-template-columns: auto auto;

            img {
                height: 25vw;
            }
        }
    }

    div.project-fabrication {
        img, video {
            width: 70%;
        }
    }

    div.project-programming {
        img {
            width: 60%;
        }
    }

    div.project-results {
        video {
            width: 70%;
        }
    }
}