div#car-project-content-container {
    div.project-overview {
        img {
            width: 70%;
        }
    }

    div.project-programming {
        img {
            width: 70%;
        }
    }

    div.project-results {
        video {
            width: 70%;
        }
    }
}