div#chatbot-project-content-container {
    div.project-overview {
        img {
            width: 50%;
        }
    }

    div.project-ideation {
        img:nth-of-type(1) {
            width: 50%;
        }
        
        div.image-container {
            img {
                width: 100%;
            }
        }
    }

    div.project-design {
        img:nth-of-type(1) {
            width: 80%;
        }
    }

    div.project-programming {
        img {
            width: 70%;
        }

        div.image-next-to-container {
            grid-template-columns: 3fr 2fr;
        
            @media (max-width: $medium-small) {
              grid-template-columns: 1fr;
            }
            
            div.image-container {
                img {
                    width: 100%;
                }
            }
    
            div.text-container {
                ol {
                    margin: 0;
                }
            }
        }
    }

    div.project-results {
        iframe {
            width: 70%;
        }
    }
}