div#light-project-content-container {
    div.project-overview {
        img {
            width: 70%;
        }
    }

    div.project-ideation {
        img:nth-of-type(1) {
            width: 50%;
        }
        
        div.image-container {
            img {
                width: 100%;
            }
        }
    }

    div.project-design {
        img:nth-of-type(1) {
            width: 100%;
        }

        div.image-next-to-container:nth-of-type(1) {
            grid-template-columns: 3fr 2fr;
            
            @media (max-width: $medium-small) {
                grid-template-columns: 1fr;
            }
        }
    }

    div.project-fabrication {
        div.image-next-to-container:nth-of-type(1) {
            grid-template-columns: 1fr 1fr;
            
            @media (max-width: $medium-small) {
                grid-template-columns: 1fr;
            }
        }
        
        & > img:nth-of-type(1) {
            width: 70%;
        }
    }

    div.project-results {
        img:nth-of-type(1) {
            width: 50%;
        }

        iframe {
            width: 70%;
        }
    }

    div.project-improvements {
        img:nth-of-type(1) {
            width: 50%;
        }
    }
}