div#toolbot-project-content-container {
    div.project-overview {
        img {
            width: 70%;
        }
    }

    div.project-ideation {
        & > img:nth-of-type(1) {
            width: 100%;
        }
        

        div.image-next-to-container:nth-of-type(1) {
            grid-template-columns: 2200fr 1500fr;

            @media (max-width: $medium) {
                grid-template-columns: 1fr;

                div.image-container:nth-of-type(2) img {
                    width: 60%;
                }
            }
        }

        div.image-next-to-container:nth-of-type(2) {
            grid-template-columns: 2fr 3fr;
        }

        div.image-container {
            img {
                width: 100%;
            }
        }
    }

    div.project-design {
        img:nth-of-type(1) {
            width: 100%;
        }
    }

    div.project-fabrication {
        & > img:nth-of-type(1) {
            width: 70%;
        }
        
        & > img:nth-of-type(2) {
            width: 60%;
        }

        div.image-next-to-container {
            img {
                width: 100%;
            }
        }
    }

    div.project-results {
        iframe {
            width: 70%;
        }
    }
}