div#yoyo-project-content-container {
    div.project-overview {
        img {
            width: 70%;
        }
    }

    div.project-ideation {
        img {
            width: 60%;
        }
    }

    div.project-design {
        div.image-next-to-container:nth-of-type(1) {
            grid-template-columns: 1fr 2fr;
            grid-gap: 0;
            
            @media (max-width: $medium-small) {
                grid-template-columns: 1fr;
              }

            img {
                height: 20vw;
            }
        }

        video {
            width: 60%;
        }
    }

    div.project-fabrication {
        div.image-next-to-container {
            @media (max-width: $medium-small) {
                grid-template-columns: 1fr;
            }

            img {
                height: 20vw;
            }
        }
    }

    div.project-results {
        img {
            width: 70%;
        }
    }
}